<h1>Comparacion</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Criterio</th>
      <th ng-repeat="provider in providers">{{provider.estructura.nombre_completo}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-group"><td colspan="{{providers.length + 1}}">Estructura</td></tr>
    <tr ng-repeat="attribute in structure_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in providers">{{provider.estructura[attribute]}}</td>
    </tr>
  <tbody>
    <tr class="table-group"><td colspan="{{providers.length + 1}}">Precios</td></tr>
    <tr ng-repeat="attribute in prices_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in providers">{{provider.precios[attribute]}} / {{stats.precios[attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="table-group"><td colspan="{{providers.length + 1}}">Tiempos de Espera</td></tr>
    <tr ng-repeat="attribute in times_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in providers">{{provider.tiempos_espera[attribute]}} / {{stats.tiempos_espera[attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="table-group"><td colspan="{{providers.length + 1}}">Recursos Humanos</td></tr>
    <tr ng-repeat="attribute in resources_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in providers">{{provider.rrhh[attribute]}} / {{stats.rrhh[attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
</table>
