<h1>Comparacion</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Criterio</th>
      <th>Valor / Mediana</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Precios</td></tr>
    <tr ng-repeat="attribute in prices_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in providers">{{providers[precios][attribute]}} / {{stats[precios][attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
  <tbody>
    <tr><td colspan="{{providers.count + 1}}">Tiempos de Espera</td></tr>
    <tr ng-repeat="attribute in times_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in providers">{{providers[tiempos_espera][attribute]}} / {{stats[tiempos_espera][attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>

    <!-- <tr ng&#45;repeat="attribute in Object.keys(group)"> -->
      <!-- <td>{{attribute.name.split("_", " ").capitalize()}}</td> -->
    </tr>
  </tbody>
</table>
